src/main/mule/global/travelontip-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="travelontip-externalsystemFlow" doc:id="35b91458-30e8-492c-be24-329f03161cf4" >
		<http:listener doc:name="Listener" doc:id="0e66675c-d32d-4331-b9f2-35fce40051f5" config-ref="HTTP_Listener_config" path="${http.listener.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]" >
				<http:body ><![CDATA[#[vars.errorMsg default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="1d2a7d05-3284-4054-b3c3-870350a6e1d3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="serviceType" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f06bf662-6e5a-42e3-bff9-260c503ef56f" message="Request Received For TravelOnTip External System For TransactionId: #[vars.transactionId]" />
		<choice doc:name="Choice" doc:id="571108db-15ca-4a5c-8576-2ee0e0daa315" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="65ee720c-7c57-4974-a797-edd7880cea23" message="Routes flow called For TravelOnTip External System For TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="8aeef5e1-90c5-4a94-bdc5-7fe16c846499" name="TravelOnTip-GetRoutes-ImplementationSub_Flow"/>
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="dc13d673-e684-4bc2-9595-9f922ee5b807" message="Schedule flow called For TravelOnTip External System For TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="910ce8a6-8bcf-4629-a4dc-dc58bb711e76" name="TravelOnTip-GetSchedules-ImplementationSub_Flow"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="5796e3e7-9e23-4d49-bf58-992d63b5371b" message="URI Parameter Is Not Correct For TravelOnTip External System For TransactionId: #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="ecc71ef1-4596-4a0c-8966-dff64e9a05b1" message="Response Sent For TravelOnTip External System For TransactionId: #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0d60df20-da83-4b7e-a6c9-2b0172f17c5d" >
				<logger level="INFO" doc:name="Logger" doc:id="ef2a0dbd-e7b7-482d-9714-ca944763a187" message="Error Occured For TravelOnTip External System For TransactionId: #[vars.transactionId] reason: #[error.errorMessage] error Type: #[error.errorType]"/>
				<ee:transform doc:name="Transform Message" doc:id="11ea69fe-9cc3-4718-9b10-68f626f12a92" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorCode": "XE1023",
	"ErrorMessage": "Error in TravelOnTip System"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
